.bidContainer {
    background-color: gray;
    position: absolute;
    top: 15vh;
    left: 30vw;
    bottom: 40vh;
    right: 15vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    border-style: solid;
    border-color: black;
    border-width: 0.2rem;
    overflow-y: auto;
}

.bidDivs {
    height: 10rem;
    width: 7.5rem;
    margin: 0.5rem;
    padding: 1rem;
    background-color: white;
    transition: background-color 500ms;
}

.bidDivs:hover {
    background-color: lightgrey;
    transition: background-color 500ms;
}

.bidDivs:hover > button {
    scale: 1;
    transition: scale 400ms;
}

.bidButtons {
    scale: 0;
    transition: scale 400ms;
}

.dashBoardHeader {
    position: absolute;
    left: 45vw;
    top: 1vh;
    color: white;
    font-size: xx-large;
}